@model SacramentMeetingPlanner.Models.Meeting

@{
    ViewData["Title"] = "Print page";
}


<div class="print border slight-offset">
    <div class="print-title">
        <h2>Sacrament Meeting</h2>
        <h2>@Html.DisplayFor(model => model.StartAt)</h2>
    </div>

    <div class="line-item">
        <span>@Html.DisplayNameFor(model => model.Conductor)</span>
        <hr />
        <span>@Html.DisplayFor(model => model.Conductor)</span>
    </div>

    <div class="line-item">
        <span>Opening Hymn</span>
        <hr />
        <span>
            #@(((Hymn) ViewData[$"Hymn-{Model.OpeningSongNumber}"]).DisplayName)
        </span>
    </div>

    <div class="line-item">
        <span>Invocation</span>
        <hr />
        <span>@Html.DisplayFor(model => model.OpeningPrayerBy)</span>
    </div>

    <div class="line-item">
        <span>@Html.DisplayNameFor(model => model.SacramentSongNumber) </span>
        <hr />
        <span>
            #@(((Hymn) ViewData[$"Hymn-{Model.SacramentSongNumber}"]).DisplayName)
        </span>
    </div>

    @{ var firstSpeaker = Model.Speakers.FirstOrDefault();}
    @if (firstSpeaker != null)
    {
        <div class="line-item">
            <span>Speaker</span>
            <hr />
            <span>@firstSpeaker.Name</span>
            <br />
            <span style=" padding-left: 180px;">Topic: @firstSpeaker.Subject</span>
        </div>
    }

    @if (Model.IntermediateSongNumber != null)
    {
        <div class="line-item">
            <span>@Html.DisplayNameFor(model => model.IntermediateSongNumber)</span>
            <hr />
            <span>
                #@(((Hymn) ViewData[$"Hymn-{Model.IntermediateSongNumber}"]).DisplayName)
            </span>
        </div>
    }

    @if (Model.MusicalNumber != null)
    {
        <div class="line-item">
            <span>@Html.DisplayNameFor(model => model.MusicalNumber)</span>
            <hr />
            <span>@Html.DisplayFor(model => model.MusicalNumber)</span>
        </div>
    }

    @foreach (var speaker in Model.Speakers.Skip(1))
    {
        <div class="line-item">
            <span>Speaker</span>
            <hr />
            <span>@speaker.Name</span> 
            <br />
            <span style=" padding-left: 180px;">Topic: @speaker.Subject</span>
        </div>
    }

    <div class="line-item">
        <span>@Html.DisplayNameFor(model => model.ClosingSongNumber)</span>
        <hr />
        <span>
            #@(((Hymn) ViewData[$"Hymn-{Model.ClosingSongNumber}"]).DisplayName)
        </span>
    </div>

    <div class="line-item">
        <span>Benediction</span>
        <hr />
        <span>@Html.DisplayFor(model => model.ClosingPrayerBy)</span>
    </div>

</div>
<div class="print ">
    <a asp-action="Index">Back to List</a>
    <button onClick="PrintElem('.print')">Print Info</button>
</div>